<!DOCTYPE html>
<html lang="en">
<head>
<%= require('html-loader!./layout/head-common.html') %>
<title></title>

</head>
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="w">
        <ul class="keywords-list">
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=电脑" class="link">电脑</a>
                <a target="_blank" href="./list.html?keyword=办公" class="link">办公</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=电视" class="link">电视</a>
                <a target="_blank" href="./list.html?keyword=空调" class="link">空调</a>
                <a target="_blank" href="./list.html?keyword=冰箱" class="link">冰箱</a>
                <a target="_blank" href="./list.html?keyword=洗衣机" class="link">洗衣机</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=手机" class="link">手机</a>
                <a target="_blank" href="./list.html?keyword=数码" class="link">数码</a>
            </li>
            <li class="keywords-item">
                <a target="_blank" href="./list.html?keyword=图书" class="link">图书</a>
                <a target="_blank" href="./list.html?keyword=音响" class="link">音响</a>
                <a target="_blank" href="./list.html?keyword=电子书" class="link">电子书</a>
            </li>
        </ul>
        <div class="banner-con">
            <div class="loading"></div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html') %>
    
</body>
</html>